
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: black;
}


.boxAnim {
    margin: 15% auto 0 auto;
    width: 150px;
    padding: 1px 25px;
    background-color: white;
    cursor: pointer;
    .anim1:after {
        content: "";
        display: block;
        background-color: #f54d4d;
        padding: 1px 25px;
        margin-left: -25px;
        margin-top: -2px;
        height: 1px;
        width: 100%;

        animation: boxAnim 3s linear infinite;
    }
}

@keyframes boxAnim {
    0% { transform: scaleX(0); transform-origin: left; }
    50% { transform: scaleX(1); transform-origin: left; }
    50.1% { transform: scaleX(1); transform-origin: right; }
    100% { transform: scaleX(0); transform-origin: right; }
}



.span2 {
    position: absolute;
    transform: rotate(90deg);
    margin-top: 33px;
    margin-left: 160px;
}
.span3 {
    position: absolute;
    margin-top: 70px;
    width: 150px;
}
.span4 {
    position: absolute;
    transform: rotate(90deg);
    margin-top: 34px;
    margin-left: -40px;
}