
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: white;
}


.intro {
    padding-top: 1px;
    height: 100vh;
    background-color: black;
    .margin {
        margin-left: 12%;
        color: white;
        
        animation: backInDown;
        animation-duration: 1.5s;
    }
    .title {
        margin-top: 7%;
        font-size: 5vw;
        margin-bottom: 0;
    }
    .subTitle {
        font-size: 2vw;
        margin-top: 5px;
    }
    .colorSpan {
        margin-left: 15px;
        color: #f54d4d;
        font-size: 1.6vw;
        text-decoration: none;
        transition: 0.4s ease-in-out;
        &:hover {
            margin-left: 40px;
        }
    }
}

.beginGroup {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 12%;
    margin-top: 15%;
    .begin {
        font-size: 1.2em;
    }
    .fa-chevron-down {
        font-size: 1.2em;
        margin-left: 15px;
    }
}



.containerGlobal {
    margin: 10% 0 5% 12%;
}

.card {
    display: flex;
    align-items: center;
    img {
        width: 5%;
        height: 1%;
        margin-right: 30px;

        animation-name: rotate;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes rotate{
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

.info {
    color: black;
    margin-bottom: 5%;
    .cardTitle {
        margin-bottom: 0;
        font-size: 5vw;
    }
    .cardDes {
        margin-top: 5px;
        font-size: 2vw;
        width: 400px;
    }
    .linkGroup {
        display: flex;
    }
    .cardLink {
        font-size: 1.2vw;
        text-decoration: none;
        color: #f54d4d;
        transition: 0.4s ease-in-out;
    }
}

.marginLink {
    margin-left: 55px;
}

.cardLink:after {
    content: "";
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}
.cardLink:hover:after {
    width: 100%;
    background: #f54d4d;
}





.boxAnim {
    margin: 15% auto 0 auto;
    width: 200px;
    padding: 1px 25px;
    background-color: #303030;
    cursor: pointer;

    animation: animOut;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-play-state: paused;
    .content {
        text-align: center;
        color: white;
    }
    .anim1:after {
        content: "";
        display: block;
        background-color: #f54d4d;
        padding: 1px 25px;
        margin-left: -25px;
        margin-top: -2px;
        height: 1px;
        width: 100%;

        animation: boxAnim1 3s linear infinite;
    }
    .anim2:after {
        content: "";
        display: block;
        background-color: #f54d4d;
        padding: 1px 25px;
        margin-left: -25px;
        margin-top: -2px;
        height: 1px;
        width: 100%;

        animation: boxAnim2 3s linear infinite;
    }
}

@keyframes boxAnim1 {
    0% { transform: scaleX(0); transform-origin: left; }
    50% { transform: scaleX(1); transform-origin: left; }
    50.1% { transform: scaleX(1); transform-origin: right; }
    100% { transform: scaleX(0); transform-origin: right; }
}

@keyframes boxAnim2 {
    0% { transform: scaleX(0); transform-origin: right; }
    50% { transform: scaleX(1); transform-origin: right; }
    50.1% { transform: scaleX(1); transform-origin: left; }
    100% { transform: scaleX(0); transform-origin: left; }
}

.span2 {
    position: absolute;
    transform: rotate(90deg);
    margin-top: 33px;
    margin-left: 210px;
}
.span3 {
    position: absolute;
    margin-top: 70px;
    width: 200px;
}
.span4 {
    position: absolute;
    transform: rotate(90deg);
    margin-top: 34px;
    margin-left: -40px;
}


@keyframes animOut {
    0% { transform: scale(1); }
    20% { transform: scale(0.7); }
    50% { transform: translateY(0); }
    70% { transform: translateY(20px); }
    100% { transform: translateY(-500%); }
}

.off {
    display: none;
}

.on {
    animation: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

@keyframes fadeIn {
    0% { transform: scale(0.2); }
    100% { transform: scale(1); }
}